@font-face {
	font-family: Cousine;
	src: url("Cousine-Regular.ttf");
}

* {
    font-family: Cousine;
    table-align: center;
	text-align: center;
	user-select: none;
}

body {
    color: white;
    background-color: #010b19;
	overflow-x: hidden;
	margin: 15px 10px;
	font-size: 14px;
}

table, tr {
    display: flex;
    justify-content: center;
}

button {
    border: solid 3px white;
	background-color: rgba(255, 255, 255, 0.05);
	color: white;
    font-size: 14px;
	cursor: pointer;
	transition-duration: 0.15s;
	margin: 5px;
}

h1 {
    display: inline;
	font-weight: normal;
    font-size: 35px;
}

h2 {
	display: inline;
	font-weight: normal;
    font-size: 25px;
}

.btn {
	cursor: pointer;
	font-size: 12px;
	max-width: 250px;
	padding: 7px 25px;
	text-decoration: none;
}

.btn.full {
	width: 250px;
	height: 120px;
}

.table_center {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.tab_btn {
	margin: 0;
	width: 100%;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.05);
	font-size: 20px;
}

.btn:not(.locked):hover,
.upg_btn:not(.locked):not(.bought):hover,
.tab_btn:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.stab_btn {
	width: auto;
	min-width: 150px;
	height: auto;
	font-size: 16px;
}

#bar {
	background-color: #aaa;
	width:100%;
	height: 15px;
}

#bar_progress {
	transition-duration: 0.2s;
	background-color: #0c9600;
	height: 100%;
}

.upg_btn {
	width: 250px;
	height: 110px;
	font-size: 11px;
}

.btn.locked,
.upg_btn.locked {
	background-color: rgba(255, 0, 0, 0.1);
	cursor: default;
}

.upg_btn.bought {
	background-color: rgba(30, 255, 0, 0.1);
	cursor: default;
}

.reward {
	position: relative;
	width: 100%;
	min-height: 160px;
	margin: 5px 0px;
}

.reward > div {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

.reward.proton {
	background: linear-gradient(0deg, #00000000 0%, rgba(255,0,0,0.2) 20%, rgba(255,0,0,0.2) 80%, #00000000 100%);
}

.reward.neutron {
	background: linear-gradient(0deg, #00000000 0%, rgba(117, 117, 117, 0.2) 20%, rgba(117, 117, 117, 0.2) 80%, #00000000 100%);
}

.reward.electron {
	background: linear-gradient(0deg, #00000000 0%, rgba(0, 0, 255, 0.2) 20%, rgba(0, 0, 255, 0.2) 80%, #00000000 100%);
}

#notify {
	position: absolute;
    left: calc(100% - 15px);
    top: 20px;
	transform: translate(-100%, 0);
	width: 200px;
	min-height: 10px;
	border: solid 2px white;
	background-color: rgba(255, 255, 255, 0.05);
	padding: 7px 25px;
	transition-duration: 0.75s;
	z-index: 2;
}

#notify.hide {
	opacity: 0;
	left: calc(100% + 250px);
}

#end {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1;
}

#loadingDiv {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #010b19;
	z-index: 1;
}

#end2 {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

[tooltip] {
	position: relative;
	z-index: 2;
	white-space: pre-wrap;
}

[tooltip]:before,
[tooltip]:after {
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
	white-space: pre-wrap;
}

[tooltip]:before {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -160px;
	padding: 7px;
	width: 320px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #000;
	background-color: hsla(0, 0%, 5%, 0.9);
	color: #fff;
	content: attr(tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	transition-duration: 0.5s;
	white-space: pre-wrap;
}

[tooltip]:after {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 5%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
	transition-duration: 0.5s;
	white-space: pre-wrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	white-space: pre-wrap;
}